* {
  box-sizing: border-box;
  margin: 0;
}

.ant-select.ant-select-outlined.css-dev-only-do-not-override-vryruh.ant-select-single.ant-select-show-arrow.ant-select-show-search {
  width: 100% !important;
  margin-top: 5px;
  margin-bottom: 10px;
}

.ant-input:placeholder-shown {
  margin-top: 5px;
  margin-bottom: 10px;
}

.ant-select.ant-select-outlined.css-vryruh.ant-select-single.ant-select-show-arrow.ant-select-show-search {
  width: 100% !important;
  margin: 0.4rem 0 0.5rem;
}
.ant-form-item {
  margin-bottom: 12px; /* Masofani qisqartirish */
}